<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.cafe.erp.store.model.StockDAO">
	
	<!-- 등록 -->
	<insert id="insertStock" parameterType="com.cafe.erp.store.model.StockDTO">
		insert into cafe_stock(stock_code, stock_productname, stock_detailname,
		stock_standard, stock_price, stock_image, delivery_number) values( (select
		NVL(max(stock_code),0) + 1 from cafe_stock), #{stock_productname},
		#{stock_detailname}, #{stock_standard}, #{stock_price}, #{stock_image}, #{delivery_number})
	</insert>
	
	<!-- 리스트 보기 및 페이징 처리 -->
	<select id="getStockList" parameterType="hashmap" resultType="com.cafe.erp.store.model.StockDTO">
		select * from
		( select A.*, rownum r from
		( select * from cafe_stock order by stock_code desc) A
		)
		where r >= #{ start } and r &lt;= #{ end }
	</select>
	<select id="getStockCount" resultType="integer">
		SELECT COUNT(*)FROM CAFE_STOCK
	</select>
	
	<select id="getStock" parameterType="integer" resultType="com.cafe.erp.store.model.StockDTO">
		select * from cafe_stock where stock_code = #{stock_code}
	</select>
	
	<update id="updateStock" parameterType="com.cafe.erp.store.model.StockDTO">
		update cafe_stock set stock_productname = #{stock_productname}, stock_detailname = #{stock_detailname},
		stock_standard = #{stock_standard}, stock_price = #{stock_price}, stock_image = #{stock_image}, 
		delivery_number = #{delivery_number}
		where stock_code = #{stock_code}
	</update>
	
	<delete id="deleteStock" parameterType="com.cafe.erp.store.model.StockDTO">
		delete from cafe_stock where stock_code = #{stock_code}
	</delete>
</mapper>